<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Identity Finder</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"> 

    <style>
      body{
      background: #373B44;  
      background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
      background: linear-gradient(to right, #4286f4, #373B44); 
      }
    </style>
    
  </head>
<body>
      <div class ="container">
        <!-- <hr class="my-4"> -->
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
      </div>
      

        <div class="wrapper fadeInDown">
          <div id="formContent">
            
            <div class="fadeIn first">
              <h1>Create Account</h1>
            </div>
        
            <!-- Login Form -->
            <form action="\signUp", method = "POST">
              <input type="text" id="login" class="fadeIn second" name="name" placeholder="Enter your email">
              <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
              <input type="submit" class="fadeIn fourth" value="Sign up" name ="submit">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="\login">Already have account</a><br>
              <a class="underlineHover" href="\">Home</a>
            </div>
        
          </div>
        </div>


     </div>
</body>
</html>